{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}" />
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        <link rel="stylesheet" href="{% static 'css/login.css' %}" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap" rel="stylesheet" />
    </head>
    <body>
        {% include 'header.html' %}
        <div>
            <form method="post" class="form">
                {% csrf_token %}
                <h1>MASUK</h1>
                <hr style="height: 2px; border-width: 0; color: gray; background-color: gray; width: 100px; text-align: center; display: flex" />

                {% for message in messages %}
                <div class="message">
                    <a class="close" href="#" data-dismiss="alert"></a>
                    {{ message }}
                </div>
                {% endfor %}

                <div class="form-group">
                    <label for="nama">Nama:</label>
                    <input type="text" class="form-control" name="nama" placeholder="Masukkan nama Anda" />
                </div>
                <div class="form-group">
                    <label for="email`">Email:</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Masukkan alamat email Anda" />
                </div>
                <div class="form-group">
                    <label for="password">Kata Sandi:</label>
                    <input type="password" class="form-control" name="password" placeholder="Masukkan kata sandi email Anda" />
                </div>
                <button type="submit">KIRIM</button>

                <p class="label-logo"><span>Budaya Dwipantara</span></p>
            </form>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
