{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}" />
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        <link rel="stylesheet" href="{% static 'css/search.css' %}" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap" rel="stylesheet" />
        <title>NAMA KOTA</title>
    </head>
    <body>
        {% include 'header.html' %}
        <div class="search-container">
            <form class="search">
                <button type="submit"><img src="{% static 'img/search.png' %}" /></button>
                <input type="text" name="searchBar" id="searchBar" placeholder="Cari" />
            </form>
        </div>
        <div class="search-header">HASIL :</div>
        <div class="foto-kota">
            <img src="{% static 'img/fotokota.png' %}" alt="foto-kota" />
        </div>
        <div class="kota-wrapper">
            <h1 class="judul-kota">NAMA KOTA</h1>
            <hr style="height: 2px; border-width: 0; color: white !important; background-color: white; width: 100px; text-align: center; display: flex" />
            <p class="deskripsi-kota">deskripsi kota</p>
            <button type="button" class="btn-lihat">LIHAT LEBIH LANJUT</button>
        </div>

        {% include 'footer.html' %}
    </body>
</html>
