body {
    background: #1d1e2e;
    font-family: "Jacques Francois";
    font-size: 14px;
    color: #ffffffb2;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar .logo {
    font-size: 20px;
}

.navbar .logo .logo1 {
    margin-top: 10px;
    margin-left: 70px;
}

.navbar .logo .logo2 {
    margin-top: 0px;
    display: flex;
    margin-left: 100px;
}

.navbar .menu {
    display: flex;
    margin-right: 50px;
}

.navbar .menu a {
    color: #ffffffb2;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    color: #ffffff;
    margin: 0 auto;
    width: 692px;
    padding: 1em;
    border-radius: 1em;
    margin-top: 245px;
    background: #473359;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.form-group {
    margin-top: 32px;
}

.form-group label {
    width: 130px;
    text-align: left;
    margin-left: 135px;
    margin-right: 10px;
    font-size: 20px;
}
.form-group input {
    width: 455px;
    font-family: "poppins", normal;
    padding: 1em;
    margin-left: 118px;
    margin-top: 9px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #d9d9d9;
    font-size: 15px;
    color: #929292;
}

button {
    margin-top: 43px;
    margin-left: 500px;
    border-radius: 20px;
    height: 38px;
    width: 107px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    background: #473359;
    color: #ffffff;
}

.form p {
    margin-top: 165px;
    display: flex;
    flex-direction: row;
    color: #929292;
}
.form p:before,
.form p:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.form p:before {
    margin-right: 10px;
}
.form p:after {
    margin-left: 10px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #44445a;
    padding: 70px 0;
    margin-top: 100px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #bbbbbb;
    font-size: 16px;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
